<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <% if (results == null) { %>
        <h1>Search for Reviews</h1>

        <!-- Alert message -->
        <div>
            <%- include ('../partials/message.ejs') %>
        </div>

        <form action="/reviewSearch" method="POST">
            <label for="recipe" class="form-label">Search Reviews for a Recipe</label>
            <input required type="text" class="form-control" id="recipe" name="recipe">
            <button type="submit" class="btn btn-primary" id="submit_button">Search</button>
        </form>
        <% } %>
        
        <% if (results != null) { %>
        <h1>Reviews for <%= recipe %></h1>

        <!-- Alert message -->
        <div>
            <%- include ('../partials/message.ejs') %>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Review</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(meal => 
                { %>
                <tr>
                    <td><%= meal.recipe_upper %></td>
                    <td><%= meal.review %></td>
                    <td><%= meal.review_date %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } %>
    </div>
</main>

<%- include ('../partials/footer') %>